{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "react-native/react-native": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
